.Search {
  min-height: 100vh;
  padding: 10px 0;
  margin-top: 10%;
 
  .search_input {
    width: 100%;
    display: flex;
    justify-content: center;

    .input {
      width: 60%;
      height: 45px;
     
      display: flex;
      align-items: center;
      justify-content: space-evenly;
      padding: 4px;
      position: relative;
      overflow: hidden;

      @media screen and (max-width: 800px) {
        & {
          width: 60%;
        }
      }
      @media screen and (max-width: 600px) {
        & {
          width: 70%;
        }
      }
   
      @media screen and (max-width: 400px) {
        & {
          width: 95%;
        }
      }
      

      input {
        height: 100%;
        padding-left: 10px;
        flex: 1;
        background-color: transparent;
        border: 0;
        border-radius: 4px 0 0 4px;
        outline: none;
        font-size: 16px;
        color: #ccc;
        transition: all .3s ease-in-out;
        background-color: rgba(255, 255, 255, 0.8);
        color: #444;
        background-color: rgba(255, 255, 255, 0.8);
        box-shadow: 0 0 5px rgba(255, 76, 76, 0.5);
        

        +.submit {
          background-color: rgba(255, 76, 76, 1);
          transform: translateX(0);
        }

      }

      .submit {
        height: 38px;
        line-height: 38px;
        text-align: center;
        width: fit-content;
        padding: 0 8px;
        color: #ffff;
        background-color: rgb(255, 76, 76);
        border-radius: 0 4px 4px 0;
        font-family: sans-serif;
        cursor: pointer;
        transform: translateX(110%);
        transition: all .3s ease-in-out;
      }
    }
  }

  .result {
    margin-top: 5%;
    display: grid;
    grid-template-columns: repeat((3, auto));
    place-items: center;
    gap: .5em;

    @media screen and (max-width: 700px) {
      & {
        grid-template-columns: repeat(2, auto);

      }
    }

    @media screen and (max-width: 400px) {
      & {
        grid-template-columns: repeat(1, 100%);
        .Card{
          width: 270px;
          height: 395px;
        }
      }
    }
    @media screen and (max-width: 290px) {
      & {
        .Card{
          width: 220px;
          height: 345px;

        }
      }
    }
  }
}